#content {
  margin: auto;
  width: 90%;
  padding: 10px;
  overflow-y: scroll;
  height: 300px;
}

input[type=checkbox] {
  display: none;
}
p{
  margin: 10px;
}
h2{
  font-size: 30px;
  margin: 10px;
}

#credit{
  margin: 5px;
}

input[type=checkbox] ~ label {
  background: green;
  height: 20px;
  color: #fff;
  padding: 16px;
  display: block;
  
}

input[type=checkbox] ~ label:hover {
  background: rgb(0, 63, 0);
  cursor: pointer;
  
}

input[type=checkbox]:checked ~ label ~ .content { 
  opacity: 0;
  height: 0;
  display: none;
}
.content {
  display: block;
}

#size{
  display: none;
}


@media (max-height: 920px) {
  #content {
    height: 250px;
  }
  p{
    margin: 5px;
  }
  
}

@media (max-height: 820px) {
  h2{
    margin: 5px;
    font-size: 20px;
  }
}

@media (max-height: 760px) {
  #content {
    height: 200px;
  }
  h2{
    margin: 5px;
  }
}

@media (max-height: 700px) {
  #content {
    height: 100px;
  }
  h2{
    margin: 5px;
  }
  
}


