.footer {
    position: fixed;
    left: 0px;
    bottom: 50px;
    padding-right : 10px;
    width: 100%;
    height: 15%;
    background-color: white;
    color: white;
    text-align: center;
 }


b{
   display: block;
}
 #type{
   /* width : 30%; */
   padding : 10px;
   font-size: 15px;
   text-align: center;
   margin : auto;
   
 }

 #ssize{
   margin-left: 20px;
   padding: 10px;
   font-size: 15px;
 }

 input{
    width: 50px;
    padding : 15px;
    text-align: left;
    margin : 30px;
    width : 100px;
 }

 button{
    padding: 10px;
    width : 100px;
    margin : 10px;
 }


 @media (max-width: 700px) {
   .footer {
      position: fixed;
      left: 0px;
      bottom: 50px;
      padding-right : 0px;
      width: 100%;
      height: 20%;
      background-color: white;
      color: white;
      text-align: center;
   }

   #ssize{
      font-size: 12px;
    }
   #type
   {
      width: 130px;
      font-size: 12px;
   }
   input{
      padding : 10px;
      text-align: left;
      margin : 20px;
      width : 60px;
   }
  
   button{
      padding: 10px;
      width : 60px;
      margin : 10px;
   }
 }

 @media (max-height: 600px) {
   .footer {
      bottom: 10px;
   }
 }

 @media (max-height: 400px) {
   .footer {
      bottom: 15px;
   }
 }

 @media (max-width: 200px) {
   #type{
      width : 500px;
      padding : 10px;
      font-size: 15px;
      text-align: center;
      margin : auto;
    }
   button{
      padding: 10px;
      width : 40px;
      margin : 0px;
   }
 }